# Django WSGI ile çalışma
WSGIPassAuthorization On
WSGIScriptAlias / C:\Users\aysu1\aysu\Jupyter_ile_Veri_bilimi_sonrasi_calismalar\PlantVillage_Dataset\aysu_yildiz_\aysu_yildiz_\wsgi.py

<Directory C:\Users\aysu1\aysu\Jupyter_ile_Veri_bilimi_sonrasi_calismalar\PlantVillage_Dataset\aysu_yildiz_\aysu_yildiz_>
    <Files wsgi.py>
        Require all granted
    </Files>
</Directory>

# Statik ve medya dosyalarının sunulması
Alias /static/ C:\Users\aysu1\aysu\Jupyter_ile_Veri_bilimi_sonrasi_calismalar\PlantVillage_Dataset\aysu_yildiz_\staticfiles\
# Alias /media/ C:/Users/aysu1/aysu/Jupyter_ile_Veri_bilimi_sonrasi_calismalar/PlantVillage_Dataset/aysu_yildiz_/media/

<Directory C:\Users\aysu1\aysu\Jupyter_ile_Veri_bilimi_sonrasi_calismalar\PlantVillage_Dataset\aysu_yildiz_\staticfiles>
    Require all granted
</Directory
